
{% extends 'tracker/base.html' %}

{% block title %}TaskFlow — Главная{% endblock %}

{% block content %}

<section class="hero">
    <div class="container hero-content">
        <h1>Управляйте задачами команды эффективно</h1>
        <p>
            TaskFlow — это простая и гибкая система управления задачами
            для работодателей и работников. Выбирайте только тот функционал,
            который вам действительно нужен.
        </p>
        <a href="{% url "register" %}" class="btn btn-primary">
            Зарегистрироваться бесплатно
        </a>
    </div>
</section>

<section class="features">
    <div class="container">
        <h2>Гибкий функционал под ваши нужды</h2>
        <p>
            Выбирайте только те функции, которые действительно помогут вашей команде
        </p>
    </div>
</section>

<div class="container1">
    <div class="card">
        <div class="icon blue">👥</div>
        <h3>Управление командами</h3>
        <p>Создавайте команды, добавляйте работников и распределяйте задачи</p>
    </div>

    <div class="card">
        <div class="icon green">✅</div>
        <h3>Задачи и подзадачи</h3>
        <p>Разбивайте сложные задачи на простые шаги и отслеживайте прогресс</p>
    </div>

    <div class="card">
        <div class="icon purple">⏱️</div>
        <h3>Трекер времени</h3>
        <p>Отслеживайте время выполнения задач для лучшей продуктивности</p>
    </div>

    <div class="card">
        <div class="icon orange">📊</div>
        <h3>Трекер статусов</h3>
        <p>Следите за состоянием всех задач в реальном времени</p>
    </div>

    <div class="card">
        <div class="icon yellow">⭐</div>
        <h3>Система оценок</h3>
        <p>Оценивайте качество выполненных задач</p>
    </div>

    <div class="card">
        <div class="icon red">🔔</div>
        <h3>Уведомления</h3>
        <p>Получайте уведомления о важных изменениях в задачах</p>
    </div>
</div>


<section class="how-it-works">
    <h2>Как это работает</h2>

    <div class="info-card">
        <div class="info-icon">✅</div>

        <div class="info-content">
            <h3>Для работников</h3>

            <ul>
                <li>Просматривайте назначенные задачи</li>
                <li>Добавляйте подзадачи для детализации</li>
                <li>Отмечайте выполнение подзадач</li>
                <li>Используйте функционал вашей команды</li>
            </ul>
        </div>
    </div>
</section>


{% endblock content %}
