{% extends "tracker/base.html" %}

{% block content %}

<main>

    <div class="container">
        <form action="/register/" method="post">
            {% csrf_token %}
        <div class="inputs">
            <p>Ваши данные</p>
            <p>Вы регистрируетесь как работник</p>

            <div class="data">
                <div class="input">
                    <label for="">Имя</label>
                    <input type="text" name="username" placeholder="Имя пользователя">

                </div>

                <div class="input">
                    <label for="">Email</label>
                    <input type="text" placeholder="example@gmail.com">
                </div>
            </div>

            <div class="buttons">
                <button type="submit" class="without-color">
                        <a href="{% url "task_list" %}">
                        
                        Назад
                    </a>
                    </button>
                <button  class="without-color2">
                        Продолжить
                   
                </button>
            </div>
        </div>
    </form>
    </div>
    
</main>
<!-- <input type="text" placeholder="Email"> -->
{% endblock content %}